<div class="mt-4">
  <h1>Chỉnh sửa khóa học</h1>
  <form
    class="d-flex flex-column justify-content-between gap-3"
    method="POST"
    action="/courses/{{course._id}}?_method=PUT"
  >
    <div class="form-group">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value="{{course.description}}"
      />
    </div>
    <div class="form-group">
      <label for="image" class="form-label">Img</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
        value="{{course.image}}"
      />
    </div>
    <button type="submit">Lưu lại</button>
  </form>
</div>